<div class="content_spacing">
    <h1 class="mt-4">2021 Example Organization Scholarship Program</h1>
    <h5 style="color:#697580; margin-top:45px; margin-bottom: 30px">APPLICANT SETTINGS</h5>
    <div class="form-group row">
        <div class="col-lg-12">
            <div class="form-group input-group">
                <label for="Output" class="form-check-label">
                    <input type="checkbox" class="checkbox" id="output"
                            placeholder=" Lock submitted">
                        <span class="spanTextSize"> Lock submitted</span>
                </label>
            </div>
            <div>
                <p>By default, applicants are able to access and update their applications up until the program deadline. Selecting this option will lock that access to edit upon successful submission.</p>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="form-group input-group">
                <label for="Output" class="form-check-label">
                    <input type="checkbox" class="checkbox" id="output"
                            placeholder=" Allow multiple submissions per user">
                        <span class="spanTextSize"> Allow multiple submissions per user</span>
                </label>
            </div>
            <div>
                <p>By default, applicants are only allowed to apply once per program, per cycle. Selecting this option will allow the same user to submit multiple applications in a single program and cycle.</p>
            </div>
        </div>
    </div>
    <hr style="margin-top:45px; margin-bottom: 30px" class="solid">
    <h6 style="color:#697580">SUBMISSION & LOGOUT</h6>
    <form>
  <div class="form-group">
    <label class="labelSpacing" for="confirmationPage">Confirmation Page Text</label>
    <textarea class="form-control" id="confirmationPage" rows="3" placeholder="Thank you for applying!"></textarea>
    <span class="badge badge-pill badge-danger" id="confirmationPageMessage"></span>
  </div>
  <div class="form-group">
    <label class="labelSpacing" for="redirectUrl">Redirect URL (leave blank to ignore)</label>
    <input type="text" class="form-control" id="exampleInput1">
  </div>
  <div class="form-group">
    <label class="labelSpacing" for="logoutUrl">Logout URL (leave blank to ignore)</label>
    <input type="text" class="form-control" id="exampleInput2">
  </div>
    </form>
    <button style="background-color: #92d36e; border-color: #92d36e; margin-top: 50px" type="button" class="btn btn-success" id="btnApplyChanges">Apply Changes</button>
</div>

<%= javascript_pack_tag 'test' %>
