<div class="content_spacing">
    <h1 class="mt-4">Simple HomePage for Orientation</h1>
    <br>
    <div class="form-group row">
        <div class="col-lg-12">
            <div class="form-group input-group">
                <p class="spanTextSize"> This is just a simple home page just got a little bit more oriented since the homepage as such wasn't requested, you can click on the sidebar names on the left or you can just click <a href="/applicant_settings/index">here</a> to go to the applicant settings tab, or <a href="/evaluation_settings/index">here</a> to automatically redirect to the evaluation settings tab.</p>               
            </div>
        <div>
    </div>

    <%= javascript_pack_tag 'test' %>
</div>

