<div class="content_spacing">
    <h1 class="mt-4">2021 Example Organization Scholarship Program</h1>
    <h5 style="color:#697580; margin-top:45px; margin-bottom: 30px">EVALUATION SETTINGS</h5>
    <div class="form-group row">
        <div class="col-lg-12">
            <div class="form-group input-group">
                <label for="Output" class="form-check-label">
                    <input type="checkbox" class="checkbox" id="output"
                            placeholder=" Make anonymous">
                        <span class="spanTextSize"> Make anonymous</span>
                </label>
            </div>
            <div>
                <p>Hides the applicant's user name and organization. Form fields with identifying information must be hidden in the form.</p>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="form-group input-group">
                <label for="Output" class="form-check-label">
                    <input type="checkbox" class="checkbox" id="output"
                            placeholder=" Score sharing">
                        <span class="spanTextSize"> Score sharing</span>
                </label>
            </div>
            <div>
                <p>Allows all evaluators assigned to the same submission collatoration by viewing each other's scores and comments.</p>
            </div>
        </div>
    </div>
    <button style="background-color: #92d36e; border-color: #92d36e; margin-top: 50px" type="button" class="btn btn-success">Apply Changes</button>
</div>
